/* universal tags */
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Header Section / download-link, is applied for main section aswell */
.Header-Text {
    font-weight: normal;
    font-size: 50px;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
}



/* Main Section / with coming soon section (h2) */
h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
}




/* Footer Section */

.Copyright {
    text-align: right; 
}


